{% extends 'base.html' %}
{% block title %}about us{% endblock title %}
{% block aboutactive %}active{% endblock aboutactive %}
{% block imge %}{% endblock imge %}
<style>
    
</style>
{% block body %}
<div class="p-4 p-md-5 mb-4 text-white   bg-dark ">
    <div class="col-md-6 px-0 ">
        <h1 class="display-4 ">About US</h1>
        <p class="lead my-3">Welcome to the Netjector Community, join our
            Community and be the part of securing future.<br>Share your views, ideas, and your implementations 
            of what you may think is new to Community. <br>          
        </p>
    </div>
    </div>

<div class="container marketing my-5">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-2 mx-5">
        <img class="rounded-circle" src="/static/Images/Shrey.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Shrey Bhonsle</h2>
        <p>Still to be written</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

{% endblock body %}
